@charset "UTF-8"

;*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif; 
    --fonte-destaque: 'Bebas Neue', cursive;
}


body{
    background-color: white;
    color: black;
    font-family: Arial, Verdana, Helvetica, sans-serif; 
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header> h1 {
    font-size: 100px;
    padding-top: 50px;
    font-variant: small-caps;
}

header> p{
    padding-bottom: 50px;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 25px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}